.git
.gitignore
.env
.env.*
node_modules
vendor
public/storage
public/build
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
.vscode
.idea
npm-debug.log
tests/
tests/
